<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicioUsuarios" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/ServicioUsuarios" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioUsuarios" contract="ConexionServicio1.IServicioUsuarios"
                name="NetTcpBinding_IServicioUsuarios">
                <identity>
                    <userPrincipalName value="DESKTOP-0UODMCR\Daniel" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>